# 1. Energy and Water Accessibility and Consumption

In [ ]:
# Import libraries
# import pandas as pd
# from matplotlib import pyplot as plt
import numpy as np

## 1.1. Of all energy used in the world, how much comes from natural gas, coal and oil?

In [ ]:
# Global direct primary energy consumption in TWh by source in 2019
# Source: Our World in Data

coal = 43849
oil = 53620
gas = 39292
biomass = 11111
hydropower = 4222
nuclear = 2796
wind = 1430
biofuels = 1143
solar = 724
other_renewables = 652
total = 158839

In [ ]:
fossil_fuels_total = coal + oil + gas
fossil_fuels_percentage = (fossil_fuels_total / total) * 100
print(fossil_fuels_percentage)

86.10039096191741

## 1.2. How many people in the world have some access to electricity?

In [ ]:
# Electricty access of countries by income
# Source: The World Bank

# Low income countries
low_total_population = 647870823
low_population_access_electricity_relative = 0.4092

# Middle income countries
middle_total_population = 5786162963
middle_population_access_electricity_relative = 0.9351

# High income countries
high_total_population = 1210795776
high_population_access_electricity_relative = 0.9999

In [ ]:
low_population_access_electricity = low_total_population * low_population_access_electricity_relative
middle_population_access_electricity = middle_total_population * middle_population_access_electricity_relative
high_population_access_electricity = high_total_population * high_population_access_electricity_relative
population_access_electricity = low_population_access_electricity + middle_population_access_electricity + high_population_access_electricity
total_population = low_total_population + middle_total_population + high_total_population
population_access_electricity_relative = population_access_electricity / total_population
print(population_access_electricity_relative)

0.9007950233613462

## 1.3 How many people in the world have access to safe drinking water in their home or close by?

In [ ]:
# Water access by safely management services
# Source: Our World in Data
population_with_safe_water_services = 5.4E9
population_without_safe_water_services = 2.25E9

In [ ]:
population_with_safe_water_services_relative = population_with_safe_water_services / total_population
print(population_with_safe_water_services_relative)

0.7063597633152832

## 1.4. Of all the freshwater used in the world, how much goes to agriculture?

In [ ]:
# Water consumption
# Source: Our World in Data

# Per group of countries in trillion m^3 per year
brics_water_consumption = 1.73
oecd_water_consumption = 0.93
row_water_consumption = 1.33

# Per industry - 3 segments: household, industry, agriculture
household_water_consumption_relative = 0.11 # percentage
industrial_water_consumption = 0.76 # trillion m^3 per year

In [ ]:
total_water_consumption = brics_water_consumption + oecd_water_consumption + row_water_consumption
industrial_water_consumption_relative = industrial_water_consumption / total_water_consumption
agriculture_water_consumption_relative = 1 - household_water_consumption_relative - industrial_water_consumption_relative
print(agriculture_water_consumption_relative)

0.6995238095238095

# 2. Internet Access

## 2.1. What is the total number of people with access to internet in the low income countriesâ€™ group?

In [ ]:
low_population_access_internet_per_country = [4437830, 3323621, 618320, 207679, 1067680, 7702280, 41781, 21383226, 478499, 2862948, 76751, 1669033, 1301477, 2639933, 2571855, 6501130, 2469076, 2823581, 1052962, 317864, 895498, 13549424, 6002725, 1026563, 10840617, 7963533]
low_population_access_internet = sum(low_population_access_internet_per_country)
print(low_population_access_internet)

103825886

## 2.2. What is the average percentage of the population with access to internet among the low income countries?

In [ ]:
low_population_access_internet_relative_per_country = [1.4, 15.9, 5.2, 4.3, 6.5, 8.6, 1.3, 18.6, 19.8, 21.8, 3.9, 33.0, 4.7, 13.8, 12.7, 20.8, 10.2, 21.8, 13.2, 2.0, 8.0, 30.9, 34.3, 12.4, 23.7, 26.7]
low_population_access_internet_relative_average = sum(low_population_access_internet_relative_per_country) / len(low_population_access_internet_relative_per_country)
print(low_population_access_internet_relative_average)
print(low_population_access_internet_relative_per_country)

14.44230769230769
[1.4, 15.9, 5.2, 4.3, 6.5, 8.6, 1.3, 18.6, 19.8, 21.8, 3.9, 33.0, 4.7, 13.8, 12.7, 20.8, 10.2, 21.8, 13.2, 2.0, 8.0, 30.9, 34.3, 12.4, 23.7, 26.7]

## 2.3. Which country from the low-income group has the highest percentage of the population with access to internet?

In [ ]:
# 'set' object is not subscriptable => sets are unordered therefore do not support indexing
# making a list from a list sounds cleaner than making a set out of a list and a list out of a set again
low_income_countries = np.unique(['Afghanistan', 'Burkina Faso', 'Burundi', 'Central African Republic', 'Chad', 'Democratic Republic of Congo', 'Eritrea', 'Eritrea', 'Ethiopia', 'Gambia', 'Guinea', 'Guinea-Bissau', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mozambique', 'Niger', 'Niger', 'Rwanda', 'Sierra Leone', 'Somalia', 'South Sudan', 'Sudan', 'Syria', 'Togo', 'Uganda', 'Yemen'])
max = 0
index_max = 0
# more code but a single loop instead of two (one to get the max, other to get the index)
for i in range(0, len(low_population_access_internet_relative_per_country)):
  if low_population_access_internet_relative_per_country[i] > max:
    max = low_population_access_internet_relative_per_country[i]
    index_max = i
print(low_income_countries[index_max])

Syria

## 2.4. If we add the lower-middle income countries, what is the average percentage of the population with access to internet (among the low- and lower-middle income countries)?

In [ ]:
lower_middle_population_access_internet_relative_per_country = [49.0, 21.4, 18.0, 47.1, 14.1, 41.8, 44.3, 40.5, 23.2, 57.2, 8.5, 8.6, 43.8, 55.7, 57.3, 33.8, 30.3, 37.9, 32.5, 32.1, 32.0, 47.7, 70.0, 22.6, 14.6, 38.2, 25.5, 32.5, 20.8, 35.3, 51.1, 74.4, 25.1, 21.4, 27.9, 36.0, 17.1, 70.6, 11.2, 60.1, 33.6, 29.9, 29.6, 11.9, 34.1, 22.0, 20.0, 27.5, 66.7, 62.6, 55.2, 25.7, 69.8, 27.9, 27.1]
low_lower_middle_population_access_internet_relative_per_country = low_population_access_internet_relative_per_country + lower_middle_population_access_internet_relative_per_country
low_lower_middle_population_access_internet_relative_average = sum(low_lower_middle_population_access_internet_relative_per_country) / len(low_lower_middle_population_access_internet_relative_per_country)
print(low_lower_middle_population_access_internet_relative_average)

29.016049382716034

## 2.5. What is the percentage of the population in Europe & Central Asia with some access to Internet in 2019?

In [ ]:
population_access_internet_per_region = {"East Asia & Pacific": 1332951361,
                                         "Europe & Central Asia": 737270551,
                                         "Latin America & Caribbean": 430064244,
                                         "Middle East & North Africa": 301099965,
                                         "North America": 326887183,
                                         "South Asia": 527829719,
                                         "Sub-Saharan Africa": 276618220}
population_access_internet_europe_central_asia = population_access_internet_per_region["Europe & Central Asia"]
population_europe_central_asia = 921455672
population_access_internet_europe_central_asia_relative = population_access_internet_europe_central_asia / population_europe_central_asia
print(population_access_internet_europe_central_asia_relative)

0.800115049918538

## 2.6. What is the percentage of the population in the world with some access to Internet in 2019?

In [ ]:
population_access_internet = sum(population_access_internet_per_region.values())
world_population = 7726810526
population_access_internet_relative = population_access_internet / world_population
print(population_access_internet_relative)

0.508970839878467

## 2.7. What is the percentage of population in the group North America, Latin America & Caribbean with some access to Internet in 2019?

In [ ]:
pop_internet_per_region = { 'East Asia & Pacific': {
                              'population': 2328453894, 'pop_internet': 1332951361
                             },
                            'Europe & Central Asia': {
                              'population': 921455672, 'pop_internet': 737270551
                             },
                            'Latin America & Caribbean': {
                              'population': 652196854,'pop_internet': 430064244
                             },
                            'Middle East & North Africa': {
                              'population': 464554123,'pop_internet': 301099965
                             },
                            'North America': {
                              'population': 367553264, 'pop_internet': 326887183
                             },
                            'South Asia': {
                              'population': 1856882402, 'pop_internet': 527829719
                             },
                            'Sub-Saharan Africa': {
                              'population': 1135714317, 'pop_internet': 276618220
                             }
                          }
population_america = pop_internet_per_region['Latin America & Caribbean']['population'] + pop_internet_per_region['North America']['population']
population_access_internet_america = pop_internet_per_region['Latin America & Caribbean']['pop_internet'] + pop_internet_per_region['North America']['pop_internet']
population_access_internet_america_relative = population_access_internet_america / population_america
print(population_access_internet_america_relative)

0.74229109037475

# 3. International Refugees

In [ ]:
# Import libraries
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
# Load dataset to a dataframe
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/international_refugees.csv")

In [ ]:
df.head(5)

                country                      region  population  refugees
0           Afghanistan                  South Asia    38928341     72400
1                Angola          Sub-Saharan Africa    32866268     56100
2               Albania       Europe & Central Asia     2837743       115
3               Andorra       Europe & Central Asia       77265         0
4  United Arab Emirates  Middle East & North Africa     9890400      8560

## 3.1. What share of the world population are international refugees?

In [ ]:
world_population = df['population'].sum()
world_refugees = df['refugees'].sum()
world_refugees_relative = world_refugees / world_population
print(world_refugees_relative)

0.00443769393380888

## 3.2. Which country hosted the largest share of refugees in relation to its population in 2020?

In [ ]:
df['refugees_share'] = df['refugees'] / df['population']
max_refugees_share = df[df['refugees_share'] ==df['refugees_share'].max()]
max_refugees_share

,country,region,population,refugees,refugees_share
145,Palestine,Middle East & North Africa,5101414,2320000,0.454776

In [ ]:
max_refugees_share['country']

145    Palestine
Name: country, dtype: object

## 3.3. How many refugees were exiled in Germany in 2020?

In [ ]:
germany_data = df[df['country'] == 'Germany']
germany_data

    country                 region  population  refugees  refugees_share
44  Germany  Europe & Central Asia    83240525   1450000        0.017419

In [ ]:
germany_data['refugees']

44    1450000
Name: refugees, dtype: int64

## 3.4. Which of the regions hosted the largest number of international refugees in 2020?

In [ ]:
df.sort_values(by='refugees', ascending=False).head(10)

,country,region,population,refugees,refugees_share
177,Turkey,Europe & Central Asia,84339067,3970000,0.047072
86,Jordan,Middle East & North Africa,10203140,2980000,0.292067
145,Palestine,Middle East & North Africa,5101414,2320000,0.454776
37,Colombia,Latin America & Caribbean,50882884,1750000,0.034393
44,Germany,Europe & Central Asia,83240525,1450000,0.017419
180,Uganda,Sub-Saharan Africa,45741000,1450000,0.031700
135,Pakistan,South Asia,220892331,1450000,0.006564
97,Lebanon,Middle East & North Africa,6825442,1360000,0.199254
183,United States,North America,329484123,1340000,0.004067
137,Peru,Latin America & Caribbean,32971846,1060000,0.032149